body {
  background-color: #bedcff;
  font-family: Helvetica;
  font-weight: bold;
}
.container {
  padding: 2em 0.2em 0;
  max-width: 100%;
  margin: 0 auto;
}
h1 {
  margin: 0;
  text-align: center;
  font-size: 4em;
  overflow: hidden;
  line-height: 3;
}
#title span {
  margin-top: 15%;
  display: block;
  animation: reveal 5s cubic-bezier(0.77, 0, 0.175, 0.5) 1.5s infinite;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
